<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect /home/ to /home/home.html
    RewriteRule ^home/?$ /home/home.html [L]

    RewriteRule ^registration/?$ /registration/Registration.html [L]
    RewriteRule ^passion/?$ /passion/ourpassion.html [L]

    RewriteRule ^organization/?$ /organization/Organization.html [L]
    RewriteRule ^activity/?$ /activity/activity.html [L]
    RewriteRule ^achievement/?$ /achievement/achievement.html [L]
    RewriteRule ^about/?$ /about/About.html [L]
    
</IfModule>
